@font-face {
  font-family: 'Inter';
  font-weight: 100;
  font-style: normal;
  src: url('/fonts/Inter/Inter-Thin.ttf') format('opentype'),
}

@font-face {
  font-family: 'Inter';
  font-weight: 300;
  font-style: normal;
  src: url('/fonts/Inter/Inter-Light.ttf') format('opentype'),
}

@font-face {
  font-family: 'Inter';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/Inter/Inter-Regular.ttf') format('opentype'),

}

@font-face {
  font-family: 'Inter';
  font-weight: 500;
  font-style: normal;
  src: url('/fonts/Inter/Inter-Medium.ttf') format('opentype'),
}

@font-face {
  font-family: 'Inter';
  font-weight: 600;
  font-style: normal;
  src: url('/fonts/Inter/Inter-SemiBold.ttf') format('opentype'),
}


@font-face {
  font-family: 'Inter';
  font-weight: 700;
  font-style: normal;
  src: url('/fonts/Inter/Inter-Bold.ttf') format('opentype'),
}


@font-face {
  font-family: 'Inter';
  font-weight: 800;
  font-style: normal;
  src: url('/fonts/Inter/Inter-ExtraBold.ttf') format('opentype'),
}

@font-face {
  font-family: 'Inter';
  font-weight: 900;
  font-style: normal;
  src: url('/fonts/Inter/Inter-Black.ttf') format('opentype'),
}


@font-face {
  font-family: 'Noto Sans JP variant0';
  font-weight: 100;
  font-style: normal;
  src: url('/fonts/Noto_Sans_JP/NotoSansJP-Thin.ttf') format('opentype'),
}

@font-face {
  font-family: 'Noto Sans JP variant0';
  font-weight: 300;
  font-style: normal;
  src: url('/fonts/Noto_Sans_JP/NotoSansJP-Light.ttf') format('opentype'),
}

@font-face {
  font-family: 'Noto Sans JP variant0';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/Noto_Sans_JP/NotoSansJP-Regular.ttf') format('opentype'),

}

@font-face {
  font-family: 'Noto Sans JP variant0';
  font-weight: 500;
  font-style: normal;
  src: url('/fonts/Noto_Sans_JP/NotoSansJP-Medium.ttf') format('opentype'),
}


@font-face {
  font-family: 'Noto Sans JP variant0';
  font-weight: 700;
  font-style: normal;
  src: url('/fonts/Noto_Sans_JP/NotoSansJP-Bold.ttf') format('opentype'),
}

@font-face {
  font-family: 'Noto Sans JP variant0';
  font-weight: 900;
  font-style: normal;
  src: url('/fonts/Noto_Sans_JP/NotoSansJP-Black.ttf') format('opentype'),
}
